html {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: .3rem;
}

article {
  font-family: "Crimson Text", serif;
  font-weight: normal;
  color: #222;
}

article header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #555;
}

article h1 {
  font-weight: normal;
  font-size: 1.5rem;
  color: #222;

  /* margin: 0rem; */
  /* padding: 0rem; */
}

article header p {
  font-style: italic;

  /* margin: 0rem; */
  /* padding: 0rem; */
}

article p {
  padding-top: .3em;
  padding-bottom: .3em;
}

article p:nth-child(8) {
  border-bottom: 1px solid #555;
  padding-bottom: 1.125rem;
}

article ol {
  padding-left: 1em;
}

blockquote {
  color: #555;
  font-size: 1.125rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.quote {
  color: #999;
}
